{# src/ZelmadBundle/Resources/views/Pfee/add.html.twig #}

{% extends "ZelmadBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un PFE</h2>

  {{ include("ZelmadBundle:Pfee:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}